.card {
  width: 100%;
  max-width: 420px;
  padding: 54px 33px 27px 39px;

  .title {
    margin-bottom: 27px;
    text-align: center;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
  }

  .instructions {
    margin-bottom: 65px;
    color: var(--color-light-900);
    text-align: center;
    opacity: 0.5;
  }
}
