.label {
  font-size: var(--font-size-s);
  color: var(--color-dark-100);
}

.disabledLabel {
  color: var(--color-dark-300);
}

.icon {
  transform: rotate(-90deg);
}

.trigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 6px 12px;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &.pagination {
    gap: 6px;
    padding: 0 2px 0 6px;
    line-height: var(--line-height-m);
  }

  &[data-state='open'] .icon {
    transform: rotate(90deg);
  }

  &[data-state='open'] {
    border-radius: 2px 2px 0 0;
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-dark-300);

    & .icon {
      color: var(--color-dark-300);
    }
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-100);
  }

  &:focus:not(&:disabled) {
    border: none;
    outline: 2px solid var(--color-info-700);
  }
}

.content {
  overflow: hidden;

  width: var(--radix-select-trigger-width);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  &[data-state='open'] {
    border-radius: 0 0 2px 2px;
  }
}

.item {
  display: flex;
  align-items: center;
  width: 100px;
  padding: 6px 12px;

  &[data-highlighted] {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }
}
