.card {
  width: 100%;
  max-width: 420px;
  padding: 33px 36px 60px;

  .title {
    margin-bottom: 50px;
    text-align: center;
  }

  .password {
    margin-bottom: 24px;
  }

  .instructions {
    margin: 19px 0 41px;
    opacity: 0.5;
  }
}
