.content {
  right: 48px;
}

.label {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.trigger {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;

  padding: 3px;

  border-radius: 30px;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.menuItem {
  display: flex;
  gap: 6px;
  align-items: center;
  margin: 12px 0;

  &:last-of-type {
    margin: 12px 0 0;
  }
}

.email {
  color: var(--color-dark-100);
}

.name {
  border-bottom: 1px dashed;
}
