.trigger {
  all: unset;
  cursor: pointer;
}

.label {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.menuItem {
  display: flex;
  gap: 6px;
  align-items: center;
  margin: 12px 0;

  &:last-of-type {
    margin: 12px 0 0;
  }
}

.email {
  color: var(--color-dark-100);
}
