.content {
  position: relative;
  z-index: 999;

  margin-top: 12px;
  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;
}

.item {
  cursor: pointer;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info-700);
  }
}

.arrow {
  position: absolute;
  top: -6px;
  right: 13px;
  transform: rotate(45deg);

  width: 11px;
  height: 11px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-right: none;
  border-bottom: none;
}

.separator {
  height: 1px;
  background-color: var(--color-dark-500);
}
