.list {
  max-width: 100%;
}

.trigger {
  padding: 6px 24px;
  background-color: transparent;
  border: 1px solid var(--color-dark-300);

  &:last-of-type {
    border-radius: 0 2px 2px 0;
  }

  &:first-of-type {
    border-radius: 2px 0 0 2px;
  }

  &:hover {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    border-color: var(--color-dark-100);
  }

  &[data-state='active'] {
    color: var(--color-light-100);
    background-color: var(--color-accent-500);
    border-color: var(--color-accent-500);
  }

  &[data-disabled] {
    color: var(--color-dark-300);
    background-color: var(--color-dark-700);
    border-color: var(--color-dark-300);
  }
}
